[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
mysqlclient = "*"
keras = "==2.13.1"
keras-facenet = "==0.3.2"
numpy = "==1.24.3"
dlib = "*"

[dev-packages]

[requires]
python_version = "3.11"
