{% extends "base.html" %} {% block content %}
<div class="main-container">
  <!-- <img
    src="https://imgs.search.brave.com/RfU3DK_BOSTVrFc5Mimx11P6tkY02XI8RxOrO2SRGKM/rs:fit:860:0:0/g:ce/aHR0cHM6Ly90NC5m/dGNkbi5uZXQvanBn/LzAyLzUxLzAwLzc1/LzM2MF9GXzI1MTAw/NzU3MV9JRThObjY0/MnIzZFhielRKc3k3/cFMzN2pWRXcyNVEy/RS5qcGc"
    class="body-img"
    alt=""
  /> -->
  <img src="/static/images/background-image.png" alt="" class="body-img">
  <div class="slogan-container">
    <h3 class="slogan-head">Face Pay</h3>
    <p class="slogan-description">
      Go Beyondless with brand new <span style="color: green; font-weight:500" >Deviceless payment system.</span>
    </p>
  </div>
</div>
<div  class="main-container second-container">
  <div>
    <h3 class="slogan-head">Pay Easy</h3>
    <p class="slogan-description">Use your face for your transactions with latest technologies.</p>
  </div>
  <img src="/static/images/background-image2.png" alt="" class="img-2">
</div>
{% endblock %}
